@media (max-width: 1312px) {
    .sidebar {
        position: fixed;
        left: 0px;
        bottom: 0px;
        top: 55px;
        background-color: white;
        width: 72px;
        padding-top: 5.5px;
        z-index: 101;
    }
    
    .sidebar-link {
        height: 74px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.15s;
    }
    
    .sidebar-link:hover {
        background-color: rgb(240,240,240);
    }
    
    .sidebar-link img {
        height: 24px;
    }
    
    .sidebar-link div {
        font-size: 10px;
        padding-top: 6px;
    }
    
}

@media (min-width: 1313px) {
    .sidebar {
        position: fixed;
        left: 0px;
        bottom: 0px;
        top: 55px;
        background-color: white;
        width: 200px;
        padding-top: 5.5px;
        z-index: 101;
        
    
    }
    
    .sidebar-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.15s;
        padding: 9px 25px;

    }

    .sidebar-link:hover {
        background-color: rgb(240,240,240);
    }
    
    .sidebar-link img {
        height: 24px;
        margin-right: 25px;

    }
    
    .sidebar-link div {
        font-size: 14px;

    }
}

    /*
    .sidebar {
        position: fixed;
        left: 0px;
        bottom: 0px;
        top: 55px;
        background-color: white;
        width: 200px;
        padding-top: 5.5px;
        z-index: 101;
        
    
    }
    
    .sidebar-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.15s;
        padding: 9px 25px;

    }

    .sidebar-link:hover {
        background-color: rgb(240,240,240);
    }
    
    .sidebar-link img {
        height: 24px;
        margin-right: 25px;

    }
    
    .sidebar-link div {
        font-size: 14px;
        padding-top: 6px;


    }
    */


/*
.sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 240px;
        z-index: 101;
        padding-top: 5.5px;
      }
    
      .sidebar-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        padding: 9px 25px;
        transition: background-color 0.15s;
      }
    
      .sidebar-link:hover {
        background-color: rgb(235, 235, 235);
      }
    
      .sidebar-link img {
        height: 24px;
        margin-right: 24px;
      }
    
      .sidebar-link div {
        font-size: 14px;
      }
      */