p {
    color: rgb(128,128,128);
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

input {
    width: 395px;
    height: 30px;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    margin-top: 7px;
    margin-bottom: 15px;
}

.button {
    color: white;
    background-color: rgb(53, 111, 204);
    font-size: 18px;
    border: none;
    border-radius: 30px;
    padding: 20px 150px;
    margin-top: 15px;
    cursor: pointer;
}