.flexbox {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.lightpink {
    width: 100px;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item1-container {
    background-color: black;
    color: white;
}

.lightblue {
    width: 200px;
    background-color: lightblue;
}