.flexbox {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.lightpink {
    width: 100px;
    background-color: lightpink;

}

.lightblue {
    width: 200px;
    background-color: lightblue;

}

.nested-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row2-container {
    background-color: black;
    color: white;
}