div {
    font-family: Arial;
}

.container {
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
    padding-top: 8px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;

}

.inbox {
    font-size: 14px;
    color: rgb(120,120,120);
}

.email {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 10px;

}

.nested-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.title {
    font-size: 18px;
    font-weight: bold;

}

.sub-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;

}

.time {
    font-size: 14px;
    color: rgb(120,120,120);
}

.body {
    display: flex;
    flex-direction: column;

}

.details {
    color: rgb(120,120,120);
    padding-right: 15px;
}