p {
    font-family: Arial;
    margin: 0px;
    padding: 20px 15px;
}

div {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200,200,200);
    width: 300px;
}

.yes {
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 0px;
}
