p {
    font-family: Arial;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 15px;
}

.content {
    font-size: 18px;
    margin-bottom: 15px;
}

.link {
    color: rgb(27, 109, 202);
    cursor: pointer;
}