body {
    height: 3000px;
}

.cover {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.pop-up {
    background-color: white;
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;


}

.title {
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;
}

.description {
    font-family: Arial;
    margin-bottom: 12px;
}

.button {
    cursor: pointer;
}

.right-sidebar {
    color: white;
    background-color: green;
    width: 100px;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;

}
