body {
    height: 3000px;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
}

.left-part {
    display: flex;
    align-items: center;
}

.username {
    font-family: Arial;
    font-weight: bold;
    margin-left: 10px;
}

.add-friend-button {
    border: none;
    background-color: rgb(63,134,226);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    margin-right: 3px;
    cursor: pointer;
}

.message-button {
    border: none;
    background-color: rgb(230,230,230);
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}