body {
    height: 3000px;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
}

.left-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(33,33,33);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 10px;

}

.right-section {
    background-color: rgb(55, 55, 55);
    color: white;
    width: 150px;
    font-family: Arial;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}

.name {
    font-size: 14px;

}

.add-button {
    color: rgb(150,150,150);
    font-size: 25px;
    cursor: pointer;
}

.channel {
    color: rgb(150,150,150);
    margin-bottom: 16px;
    
}